In [1]:
data = open('/Users/lawrencewang/Downloads/yelp_dataset/business.json')

In [2]:
import ast
from sklearn.feature_extraction.text import CountVectorizer
import json,urllib.request
from pprint import pprint
import pandas as pd
import pickle
import numpy as np

In [3]:
counter = 0
mylist = []
errorlines = []
for line in data:
    try:
        line = ast.literal_eval(line)
        mylist.append(line)
    except:
        errorlines.append(line)
    counter += 1

In [4]:
df = pd.read_json(json.dumps(mylist))

In [5]:
df.head(3)

,address,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,postal_code,review_count,stars,state
0,30 Eglinton Avenue W,"{'RestaurantsReservations': 'True', 'GoodForMe...",QXAEGFB4oINsVuTFxEYKFQ,"Specialty Food, Restaurants, Dim Sum, Imported...",Mississauga,"{'Monday': '9:0-0:0', 'Tuesday': '9:0-0:0', 'W...",1,43.605499,-79.652289,Emerald Chinese Restaurant,L5R 3E7,128,2.5,ON
1,"10110 Johnston Rd, Ste 15","{'GoodForKids': 'True', 'NoiseLevel': 'u'avera...",gnKjwL_1w79qoiV3IC_xQQ,"Sushi Bars, Restaurants, Japanese",Charlotte,"{'Monday': '17:30-21:30', 'Wednesday': '17:30-...",1,35.092564,-80.859132,Musashi Japanese Restaurant,28210,170,4.0,NC
2,"4209 Stuart Andrew Blvd, Ste F","{'BusinessAcceptsBitcoin': 'False', 'ByAppoint...",HhyxOkGAM07SRYtlQ4wMFQ,"Plumbing, Shopping, Local Services, Home Servi...",Charlotte,"{'Monday': '7:0-23:0', 'Tuesday': '7:0-23:0', ...",1,35.190012,-80.887223,Queen City Plumbing,28217,4,4.0,NC

In [6]:
df.columns

Index(['address', 'attributes', 'business_id', 'categories', 'city', 'hours',
       'is_open', 'latitude', 'longitude', 'name', 'postal_code',
       'review_count', 'stars', 'state'],
      dtype='object')

In [7]:
df['categories'] = df.categories.str.replace(' ', '')

In [8]:
df_attributes = pd.io.json.json_normalize(df.iloc[:,1])
df_attributes

,AcceptsInsurance,AgesAllowed,Alcohol,Ambience,BYOB,BYOBCorkage,BestNights,BikeParking,BusinessAcceptsBitcoin,BusinessAcceptsCreditCards,...,RestaurantsCounterService,RestaurantsDelivery,RestaurantsGoodForGroups,RestaurantsPriceRange2,RestaurantsReservations,RestaurantsTableService,RestaurantsTakeOut,Smoking,WheelchairAccessible,WiFi
0,NaN,NaN,u'full_bar',"{'romantic': False, 'intimate': False, 'classy...",NaN,NaN,NaN,False,NaN,NaN,...,NaN,False,True,2,True,True,True,NaN,NaN,u'no'
1,NaN,NaN,u'beer_and_wine',"{'romantic': False, 'intimate': False, 'touris...",NaN,NaN,NaN,True,NaN,True,...,NaN,False,True,2,True,True,True,NaN,NaN,u'no'
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,True,...,NaN,NaN,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,True,...,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN
6,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,...,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,...,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,u'none',"{'romantic': False, 'intimate': False, 'touris...",NaN,NaN,NaN,NaN,NaN,True,...,NaN,False,True,1,False,NaN,True,NaN,NaN,u'no'
9,NaN,NaN,'beer_and_wine',"{'touristy': False, 'hipster': False, 'romanti...",NaN,NaN,"{'monday': False, 'tuesday': False, 'friday': ...",True,NaN,True,...,NaN,NaN,True,1,True,NaN,NaN,NaN,NaN,'free'
10,NaN,NaN,u'none',None,NaN,NaN,NaN,True,NaN,True,...,NaN,True,True,2,False,NaN,True,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,...,NaN,False,NaN,1,NaN,NaN,True,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,...,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,u'full_bar',"{'romantic': False, 'intimate': True, 'classy'...",NaN,NaN,NaN,False,NaN,True,...,NaN,NaN,True,2,True,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,True,...,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,u'beer_and_wine',"{'romantic': False, 'intimate': False, 'classy...",NaN,NaN,NaN,True,NaN,True,...,NaN,False,True,1,False,NaN,True,NaN,NaN,u'no'
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,NaN,...,NaN,False,NaN,2,NaN,NaN,True,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,NaN,...,NaN,NaN,NaN,2,NaN,NaN,True,NaN,NaN,u'no'
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,True,...,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,u'full_bar',"{'romantic': False, 'intimate': False, 'classy...",NaN,NaN,NaN,True,NaN,NaN,...,NaN,False,True,2,True,NaN,False,NaN,NaN,u'free'
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,True,...,NaN,NaN,NaN,2,NaN,NaN,True,NaN,NaN,'free'
28,NaN,NaN,u'full_bar',NaN,NaN,NaN,NaN,NaN,NaN,True,...,NaN,False,True,2,True,NaN,True,NaN,NaN,NaN
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,...,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129238,NaN,NaN,NaN,"{'romantic': False, 'intimate': False, 'classy...",NaN,NaN,NaN,True,NaN,NaN,...,NaN,True,True,1,True,NaN,True,NaN,NaN,u'no'
129239,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
129240,NaN,NaN,u'beer_and_wine',"{'touristy': False, 'hipster': False, 'romanti...",NaN,NaN,NaN,True,NaN,True,...,NaN,False,True,2,False,True,True,NaN,True,u'no'
129241,NaN,NaN,'none',"{'touristy': False, 'hipster': False, 'romanti...",NaN,NaN,NaN,False,NaN,NaN,...,NaN,True,False,1,False,False,True,NaN,True,u'free'
129242,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,True,...,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN
129243,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,...,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN
129244,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
129245,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
129246,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,NaN,...,NaN,NaN,NaN,1,NaN,NaN,True,NaN,NaN,NaN
129247,NaN,NaN,u'full_bar',"{'touristy': False, 'hipster': False, 'romanti...",NaN,NaN,NaN,True,NaN,NaN,...,NaN,True,True,3,True,NaN,True,NaN,NaN,u'free'
129248,NaN,NaN,u'none',"{'romantic': False, 'intimate': False, 'classy...",NaN,NaN,NaN,True,NaN,NaN,...,NaN,True,True,2,True,True,True,NaN,NaN,'free'
129249,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
129250,NaN,NaN,u'beer_and_wine',"{'touristy': False, 'hipster': False, 'romanti...",NaN,NaN,NaN,True,NaN,True,...,NaN,True,True,2,True,True,True,NaN,False,u'free'
129251,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
129252,NaN,NaN,u'none',"{'romantic': False, 'intimate': False, 'classy...",NaN,NaN,NaN,False,NaN,True,...,NaN,False,True,2,False,NaN,True,NaN,NaN,'no'
129253,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,True,...,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN
129254,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,True,NaN
129255,NaN,NaN,'full_bar',"{'touristy': False, 'hipster': False, 'romanti...",NaN,NaN,NaN,True,NaN,NaN,...,NaN,NaN,True,2,NaN,NaN,NaN,NaN,NaN,NaN
129256,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,NaN,NaN
129257,NaN,NaN,u'full_bar',"{'romantic': False, 'intimate': False, 'classy...",NaN,NaN,NaN,False,NaN,NaN,...,NaN,True,True,1,True,NaN,True,NaN,NaN,u'no'
129258,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
129259,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,True,...,NaN,NaN,NaN,1,NaN,NaN,True,NaN,NaN,u'free'
129260,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
129261,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,True,...,NaN,NaN,NaN,3,NaN,NaN,NaN,NaN,True,u'paid'
129262,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,True,...,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN
129263,NaN,NaN,u'full_bar',"{'touristy': False, 'hipster': False, 'romanti...",NaN,NaN,NaN,True,False,True,...,NaN,False,True,3,True,NaN,True,NaN,NaN,u'free'
129264,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
129265,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
129266,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,False,...,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN
129267,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,...,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df_attributes.iloc[0,3]

"{'romantic': False, 'intimate': False, 'classy': False, 'hipster': False, 'divey': False, 'touristy': False, 'trendy': False, 'upscale': False, 'casual': True}"

In [10]:
df_attributes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129268 entries, 0 to 129267
Data columns (total 39 columns):
AcceptsInsurance              6571 non-null object
AgesAllowed                   115 non-null object
Alcohol                       39057 non-null object
Ambience                      39228 non-null object
BYOB                          28 non-null object
BYOBCorkage                   1163 non-null object
BestNights                    3298 non-null object
BikeParking                   72304 non-null object
BusinessAcceptsBitcoin        12701 non-null object
BusinessAcceptsCreditCards    93492 non-null object
BusinessParking               82655 non-null object
ByAppointmentOnly             40364 non-null object
Caters                        35129 non-null object
CoatCheck                     3283 non-null object
Corkage                       545 non-null object
DietaryRestrictions           56 non-null object
DogsAllowed                   7244 non-null object
DriveThru                     2868 non-null object
GoodForDancing                4378 non-null object
GoodForKids                   51490 non-null object
GoodForMeal                   26746 non-null object
HairSpecializesIn             972 non-null object
HappyHour                     4749 non-null object
HasTV                         39223 non-null object
Music                         4856 non-null object
NoiseLevel                    35863 non-null object
Open24Hours                   13 non-null object
OutdoorSeating                43335 non-null object
RestaurantsAttire             38258 non-null object
RestaurantsCounterService     11 non-null object
RestaurantsDelivery           42152 non-null object
RestaurantsGoodForGroups      42684 non-null object
RestaurantsPriceRange2        84486 non-null object
RestaurantsReservations       41765 non-null object
RestaurantsTableService       15720 non-null object
RestaurantsTakeOut            49327 non-null object
Smoking                       3328 non-null object
WheelchairAccessible          19418 non-null object
WiFi                          41773 non-null object
dtypes: object(39)
memory usage: 38.5+ MB

#### Now we have to get rid of the features that don't have enough information

In [22]:
# merging my restaurants with their respective attributes

df_merge = pd.merge(df, df_attributes, left_index=True, right_index=True)

In [23]:
df_merge.head()

,address,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,...,RestaurantsCounterService,RestaurantsDelivery,RestaurantsGoodForGroups,RestaurantsPriceRange2,RestaurantsReservations,RestaurantsTableService,RestaurantsTakeOut,Smoking,WheelchairAccessible,WiFi
0,30 Eglinton Avenue W,"{'RestaurantsReservations': 'True', 'GoodForMe...",QXAEGFB4oINsVuTFxEYKFQ,"SpecialtyFood,Restaurants,DimSum,ImportedFood,...",Mississauga,"{'Monday': '9:0-0:0', 'Tuesday': '9:0-0:0', 'W...",1,43.605499,-79.652289,Emerald Chinese Restaurant,...,NaN,False,True,2,True,True,True,NaN,NaN,u'no'
1,"10110 Johnston Rd, Ste 15","{'GoodForKids': 'True', 'NoiseLevel': 'u'avera...",gnKjwL_1w79qoiV3IC_xQQ,"SushiBars,Restaurants,Japanese",Charlotte,"{'Monday': '17:30-21:30', 'Wednesday': '17:30-...",1,35.092564,-80.859132,Musashi Japanese Restaurant,...,NaN,False,True,2,True,True,True,NaN,NaN,u'no'
2,"4209 Stuart Andrew Blvd, Ste F","{'BusinessAcceptsBitcoin': 'False', 'ByAppoint...",HhyxOkGAM07SRYtlQ4wMFQ,"Plumbing,Shopping,LocalServices,HomeServices,K...",Charlotte,"{'Monday': '7:0-23:0', 'Tuesday': '7:0-23:0', ...",1,35.190012,-80.887223,Queen City Plumbing,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Credit Valley Town Plaza, F2 - 6045 Creditview Rd","{'BusinessParking': '{'garage': False, 'street...",68dUKd8_8liJ7in4aWOSEA,"ShippingCenters,Couriers&DeliveryServices,Loca...",Mississauga,"{'Monday': '9:0-19:0', 'Tuesday': '9:0-20:0', ...",1,43.599475,-79.711584,The UPS Store,...,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN
4,"4545 E Tropicana Rd Ste 8, Tropicana","{'RestaurantsPriceRange2': '3', 'GoodForKids':...",gbQN7vr_caG_A1ugSmGhWg,"HairSalons,HairStylists,Barbers,Men'sHairSalon...",Las Vegas,"{'Monday': '10:0-19:0', 'Tuesday': '10:0-19:0'...",1,36.099872,-115.074574,Supercuts,...,NaN,NaN,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
# considering only restaurants with 3 stars or more. this will also alleviate imbalanced classes a little

df_merge = df_merge.loc[df_merge.stars >= 3.0]

In [24]:
df_merge = df_merge.dropna(subset = ['RestaurantsPriceRange2'])

In [25]:
df_merge = df_merge.dropna(subset = ['Ambience'])

In [26]:
df_merge.columns = df_merge.columns.str.strip()

In [27]:
df_merge = df_merge.loc[:,['Alcohol', 'Ambience', 'BikeParking', 'BusinessAcceptsCreditCards', 'BusinessParking',
                       'Caters', 'GoodForKids', 'GoodForMeal', 'HasTV', 'NoiseLevel', 'OutdoorSeating', 
                       'RestaurantsAttire', 'RestaurantsDelivery', 'RestaurantsGoodForGroups', 'RestaurantsPriceRange2',
                       'RestaurantsReservations', 'RestaurantsTakeOut', 'WiFi', 'city', 'name', 'review_count', 'stars']]

In [28]:
df_yelp_final = df_merge.drop(['Caters', 'GoodForMeal', 'GoodForKids', 'HasTV', 'RestaurantsDelivery'], axis =1)

In [29]:
df_yelp_final = df_yelp_final.dropna(subset = ['Alcohol', 'Ambience', 'BusinessAcceptsCreditCards', 'NoiseLevel',
                                              'RestaurantsPriceRange2'])

In [30]:
df_yelp_final = df_yelp_final.dropna()
df_yelp_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17832 entries, 1 to 129263
Data columns (total 17 columns):
Alcohol                       17832 non-null object
Ambience                      17832 non-null object
BikeParking                   17832 non-null object
BusinessAcceptsCreditCards    17832 non-null object
BusinessParking               17832 non-null object
NoiseLevel                    17832 non-null object
OutdoorSeating                17832 non-null object
RestaurantsAttire             17832 non-null object
RestaurantsGoodForGroups      17832 non-null object
RestaurantsPriceRange2        17832 non-null object
RestaurantsReservations       17832 non-null object
RestaurantsTakeOut            17832 non-null object
WiFi                          17832 non-null object
city                          17832 non-null object
name                          17832 non-null object
review_count                  17832 non-null int64
stars                         17832 non-null float64
dtypes: float64(1), int64(1), object(15)
memory usage: 2.4+ MB

#### Some features were dropped using high level knowledge on whether or not they would impact a Michelin rating, such as HasTV, catering, delivery, etc...

In [31]:
df_yelp_final.drop('BusinessParking', axis=1, inplace=True)

In [32]:
city_counts = df_yelp_final['city'].value_counts().rename('city_counts')

df_yelp_final = df_yelp_final.merge(city_counts.to_frame(),
                                left_on='city',
                                right_index=True)

In [33]:
df_yelp_final = df_yelp_final.loc[df_yelp_final['city_counts'] > 500]

In [34]:
df_yelp_final = df_yelp_final.loc[df_yelp_final.review_count > 50]

In [35]:
df_yelp_final.columns

Index(['Alcohol', 'Ambience', 'BikeParking', 'BusinessAcceptsCreditCards',
       'NoiseLevel', 'OutdoorSeating', 'RestaurantsAttire',
       'RestaurantsGoodForGroups', 'RestaurantsPriceRange2',
       'RestaurantsReservations', 'RestaurantsTakeOut', 'WiFi', 'city', 'name',
       'review_count', 'stars', 'city_counts'],
      dtype='object')

In [36]:
df_yelp_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7996 entries, 1 to 129197
Data columns (total 17 columns):
Alcohol                       7996 non-null object
Ambience                      7996 non-null object
BikeParking                   7996 non-null object
BusinessAcceptsCreditCards    7996 non-null object
NoiseLevel                    7996 non-null object
OutdoorSeating                7996 non-null object
RestaurantsAttire             7996 non-null object
RestaurantsGoodForGroups      7996 non-null object
RestaurantsPriceRange2        7996 non-null object
RestaurantsReservations       7996 non-null object
RestaurantsTakeOut            7996 non-null object
WiFi                          7996 non-null object
city                          7996 non-null object
name                          7996 non-null object
review_count                  7996 non-null int64
stars                         7996 non-null float64
city_counts                   7996 non-null int64
dtypes: float64(1), int64(2), object(14)
memory usage: 1.1+ MB

### Cleaning up the values of my columns

In [37]:
df_final_cleaning = df_yelp_final.copy()

In [38]:
df_final_cleaning.NoiseLevel = df_final_cleaning.NoiseLevel.apply(lambda x: x.replace("'", ""))
df_final_cleaning.NoiseLevel = df_final_cleaning.NoiseLevel.apply(lambda x: x.replace("uvery_loud", "very_loud"))
df_final_cleaning.NoiseLevel = df_final_cleaning.NoiseLevel.apply(lambda x: x.replace("uaverage", "average"))
df_final_cleaning.NoiseLevel = df_final_cleaning.NoiseLevel.apply(lambda x: x.replace("uquiet", "quiet"))
df_final_cleaning.NoiseLevel = df_final_cleaning.NoiseLevel.apply(lambda x: x.replace("uloud", "loud"))

In [39]:
df_final_cleaning.Alcohol = df_final_cleaning.Alcohol.apply(lambda x: x.replace("'", ""))
df_final_cleaning.Alcohol = df_final_cleaning.Alcohol.apply(lambda x: x.replace("ubeer_and_wine", "beer_and_wine"))
df_final_cleaning.Alcohol = df_final_cleaning.Alcohol.apply(lambda x: x.replace("ufull_bar", "full_bar"))
df_final_cleaning.Alcohol = df_final_cleaning.Alcohol.apply(lambda x: x.replace("unone", "none"))

In [40]:
df_final_cleaning.WiFi = df_final_cleaning.WiFi.apply(lambda x: x.replace("'", ""))
df_final_cleaning.WiFi = df_final_cleaning.WiFi.apply(lambda x: x.replace("ufree", "free"))
df_final_cleaning.WiFi = df_final_cleaning.WiFi.apply(lambda x: x.replace("uno", "no"))
df_final_cleaning.WiFi = df_final_cleaning.WiFi.apply(lambda x: x.replace("upaid", "paid"))
df_final_cleaning.WiFi = df_final_cleaning.WiFi.apply(lambda x: x.replace("None", "no"))

In [41]:
df_final_cleaning.BusinessAcceptsCreditCards.value_counts()

True     7885
False     110
None        1
Name: BusinessAcceptsCreditCards, dtype: int64

In [42]:
df_final_cleaning = df_final_cleaning.drop(df_final_cleaning[df_final_cleaning.BusinessAcceptsCreditCards == 'None'].index)

In [43]:
df_final_cleaning = df_final_cleaning.drop(df_final_cleaning[df_final_cleaning.RestaurantsAttire == 'None'].index)

In [44]:
df_final_cleaning = df_final_cleaning.drop(df_final_cleaning[df_final_cleaning.RestaurantsReservations == 'None'].index)

In [45]:
df_final_cleaning = df_final_cleaning.drop(df_final_cleaning[df_final_cleaning.RestaurantsTakeOut == 'None'].index)

In [46]:
df_final_cleaning.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7994 entries, 1 to 129197
Data columns (total 17 columns):
Alcohol                       7994 non-null object
Ambience                      7994 non-null object
BikeParking                   7994 non-null object
BusinessAcceptsCreditCards    7994 non-null object
NoiseLevel                    7994 non-null object
OutdoorSeating                7994 non-null object
RestaurantsAttire             7994 non-null object
RestaurantsGoodForGroups      7994 non-null object
RestaurantsPriceRange2        7994 non-null object
RestaurantsReservations       7994 non-null object
RestaurantsTakeOut            7994 non-null object
WiFi                          7994 non-null object
city                          7994 non-null object
name                          7994 non-null object
review_count                  7994 non-null int64
stars                         7994 non-null float64
city_counts                   7994 non-null int64
dtypes: float64(1), int64(2), object(14)
memory usage: 1.1+ MB

In [47]:
df_final_cleaning.Alcohol = df_final_cleaning.Alcohol.apply(lambda x: x.replace("None", "none"))

In [48]:
df_final_cleaning = df_final_cleaning.drop(df_final_cleaning[df_final_cleaning.NoiseLevel == 'None'].index)

In [49]:
df_final_cleaning = df_final_cleaning.drop(df_final_cleaning[df_final_cleaning.OutdoorSeating == 'None'].index)

In [50]:
df_final_cleaning.RestaurantsTakeOut.value_counts()

True     7488
False     506
Name: RestaurantsTakeOut, dtype: int64

In [51]:
df_final_cleaning = df_final_cleaning.drop(df_final_cleaning[df_final_cleaning.WiFi == 'paid'].index)

In [52]:
df_final_cleaning.head(3)

,Alcohol,Ambience,BikeParking,BusinessAcceptsCreditCards,NoiseLevel,OutdoorSeating,RestaurantsAttire,RestaurantsGoodForGroups,RestaurantsPriceRange2,RestaurantsReservations,RestaurantsTakeOut,WiFi,city,name,review_count,stars,city_counts
1,beer_and_wine,"{'romantic': False, 'intimate': False, 'touris...",True,True,average,False,'casual',True,2,True,True,no,Charlotte,Musashi Japanese Restaurant,170,4.0,1333
105,beer_and_wine,"{'romantic': False, 'intimate': False, 'touris...",True,True,average,True,u'casual',True,1,True,True,free,Charlotte,JJ's Red Hots - Dilworth,380,4.0,1333
341,full_bar,"{'romantic': False, 'intimate': False, 'touris...",False,True,loud,True,u'casual',True,2,True,True,free,Charlotte,Hickory Tavern,100,3.0,1333

In [53]:
# final feature selection - dropping unnecessary categoricals

df_final_cleaning = df_final_cleaning.drop(['Ambience', 'BusinessAcceptsCreditCards', 'BikeParking', 'BusinessAcceptsCreditCards', 'RestaurantsTakeOut'], axis = 1)

In [54]:
df_final_cleaning.head(3)

,Alcohol,NoiseLevel,OutdoorSeating,RestaurantsAttire,RestaurantsGoodForGroups,RestaurantsPriceRange2,RestaurantsReservations,WiFi,city,name,review_count,stars,city_counts
1,beer_and_wine,average,False,'casual',True,2,True,no,Charlotte,Musashi Japanese Restaurant,170,4.0,1333
105,beer_and_wine,average,True,u'casual',True,1,True,free,Charlotte,JJ's Red Hots - Dilworth,380,4.0,1333
341,full_bar,loud,True,u'casual',True,2,True,free,Charlotte,Hickory Tavern,100,3.0,1333

In [55]:
with open('yelp_data', 'wb') as to_write:
    pickle.dump(df_final_cleaning, to_write)

### Flatten out Categories, features weren't included because it would increase dimensionality to a very high degree

In [83]:
cv = CountVectorizer()

In [84]:
cv.fit(df.categories)

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), preprocessor=None, stop_words=None,
        strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
        tokenizer=None, vocabulary=None)

In [85]:
df_categories = pd.DataFrame(cv.transform(df.categories).toarray(), columns = cv.get_feature_names())
df_categories.head()

,3dprinting,acaibowls,accessories,accountants,acnetreatment,activelife,acupuncture,addictionmedicine,adoptionservices,adult,...,winetastingroom,winetours,women,wraps,yelpevents,yoga,your,yourselffood,ziplining,zoos
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [86]:
df_categories.columns

Index(['3dprinting', 'acaibowls', 'accessories', 'accountants',
       'acnetreatment', 'activelife', 'acupuncture', 'addictionmedicine',
       'adoptionservices', 'adult',
       ...
       'winetastingroom', 'winetours', 'women', 'wraps', 'yelpevents', 'yoga',
       'your', 'yourselffood', 'ziplining', 'zoos'],
      dtype='object', length=1385)